.idea/*
*.iml
*.jar
*.lst
*.war
tests/stress/src/test/results/*
tests/stress/target/*
tests/acceptation/src/test/results/*
tests/acceptation/target/*
services/delivery/target/*
services/food/target/*
services/order/target/*
services/eta/target/*
db/mongo_data1/*
db/mongo_data2/*
db/mongo_data3/*