.idea/*
!pom.xml
*.iml
*.jar
tests/stress/src/test/results/*
tests/stress/target/*
tests/acceptation/src/test/results/*
tests/acceptation/target/*
services/delivery/target/*
services/food/target/*
services/order/target/*
services/eta/target/*
db/mondo_data1/*
db/mondo_data2/*
db/mondo_data3/*